
title{text-align: center;}

header{background-color: 
orange;} 


p{text-align:center;
position: relative; right: 60px;
font-family: 'Space Grotesk', sans-serif;}

h2{background-color:
lightgray;
text-align:center;
position: relative; left: 300px;
max-width: 50%;
border-radius: 10px;
font-family: 'Space Grotesk', sans-serif;}

img{
padding-left: 150px;
border-image-outset:"mytruck.jpg" 8px 8px 8px 8px;
border-color:
black;}

h3{background-color: 
tan;
text-decoration: 
underline black;
color:red;
text-align: center;}
