h1{text-align: center;
font-family: 'Space Grotesk', sans-serif;
position: 
relative; 
right: 20px;
color: #33ccff;
border-bottom: dashed  #00ffcc;
border-width: auto;}

header{background-color: 
black;
font-family: 'Space Grotesk', sans-serif;
color: #33ccff;} 


p{text-align:center;
position: 
relative; 
right: 60px;
font-family: 'Space Grotesk', sans-serif;
color: #33ccff;}

h2{background-color:
#000066;
text-align:
center;
position: 
relative; left: 300px;
max-width: 50%;
border-radius: 10px;
font-family: 'Space Grotesk', sans-serif;
color: #33ccff;}

img{
padding-left: 135px;
border: 5px;
border-radius: 5px;}

h3{background-color: 
#000066;
font-size: 25px;
color: #33ccff;
text-align: center;
position: relative; 
left: 300px;
max-width: 50%;
border-radius: 10px;
font-family: 'Space Grotesk', sans-serif;}
